:root {
	--serif: "EB Garamond", serif;
	--sans: "Open Sans", sans-serif;
	--font: "Poppins", sans-serif;

	--bg: #efefef;
	--bg0: #e5ded9;

	--color: #4aa2d5;
	--color0: #fea700;
}
body {
	background: var(--main-bg);
	margin: 0;
}
/* pre-loader */
.loader {
	position       : fixed;
	z-index        : 100;
	right          : 0;
	left           : 0;
	display        : flex;
	width          : 100vw;
	height         : 100vh;
	transition     : opacity .75s linear, visibility 2s linear;
	background     : var(--bg0);
	align-items    : center;
	justify-content: center;
}
.loader--hidden {
	visibility: hidden;
	opacity   : 0;
}
.loader::after {
	width           : 7rem;
	height          : 7rem;
	content         : "";
	animation       : loading 1.5s ease infinite;
	border          : .5rem solid var(--color);
	border-top-color: var(--bg0);
	border-radius   : 50%;
}
@keyframes loading {
	0% {
		transform   : rotate(0deg);
		padding     : 0rem;
		border-width: 0.5rem;
	}
	20% {
		transform: rotate(-45deg);
	}
	60% {
		border-width: 0.2rem;
		padding     : 4rem;
	}
	100% {
		transform   : rotate(1turn);
		padding     : 0rem;
		border-width: 0.5rem;
	}
}
/* navbar */
/*.nav
{
	width: 100vw;
	border-bottom: solid var(--main-color) 1px;
	background: var(--bg);
	position: sticky;
	margin-bottom: 5rem;

	transition: visibility 3s, transform .5s;
}

.nav--hidden {
	transform: translateY(-80px);

	visibility: hidden;
}

.nav-block1 {
	font-size: 1rem;

	text-decoration: none;
	text-transform: uppercase;

	color: #36454f;
}

.nav-block2 {}

.nav-block3 {}

.logo {
	width: 3rem;
	height: 3rem;

	border-radius: 30%;
}

.list1 {
	font-size: 1.3rem;
}

.list1 {
	color: #494f55;
	transition: all 0.75s;
}

.list1:hover {
	color: navy;
}
*//* nav end */

/* header */
@media screen and (min-width: 1440px)
{
	header
	{
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		align-items: flex-start;
		align-content: center;
		gap: 10rem;
		padding: 7rem;
	}

	.header_image
	{
		flex: 1 0 40vw;
		min-width: 40rem;
		border-radius: 40% 10%;
	}

	.header
	{
		flex: 1 1 auto;
		margin-top: 3rem;
		font-size: 3rem;
		padding-right: 1rem;
		border-right: solid var(--color) 2px;
		text-align: right;
		font-family: var(--sans);
	}
}

@media screen and (max-width: 1439px) and (min-width: 1130px)
{
	header
	{
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		gap: 5rem;
		padding: 3rem;
	}

	.header_image
	{
		flex: 1 0 50vw;
		min-width: 50vw;
		border-radius: 30rem 5rem 5rem 30rem;
	}

	.header
	{
		flex: 1 1 auto;
		font-size: 3rem;
		padding-right: 1rem;
		border-right: solid var(--color) 2px;
		text-align: right;
		font-family: var(--sans);
	}
}

@media screen and (max-width: 1129px)
{
	header {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: center;
		width: 100vw;
	}

	.header_image {
		pointer-events: none;
		top: 0;
		position: absolute;
		width: 100vw;
		min-height: 100%;
		z-index: -1;
		object-fit: cover;
		/* border-radius: 0 0 40% 40% / 30%; */
	}

	.header {
		align-self: center;
		margin: 5rem;
		padding: 5rem;
		border-bottom: solid var(--color) 2px;
		border-top: solid var(--color) 2px;
		text-align: center;
		font-family: var(--font);
	}

}
