/* pre-loader */

body {
	background: floralwhite;
}

.loader {
	position: fixed;
	z-index: 100000;
	right: 0;
	left: 0;

	display: flex;

	width: 100vw;
	height: 100vh;

	transition: opacity .75s, visibility 2s;

	background: floralwhite;

	align-items: center;
	justify-content: center;
}

.loader--hidden {
	visibility: hidden;

	opacity: 0;
}

.loader::after {
	width: 7rem;
	height: 7rem;

	content: "";
	animation: loading 1.5s ease infinite;

	border: .5rem solid #333;
	border-top-color: floralwhite;
	border-radius: 50%;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}
	/*
	20% {
		transform: rotate(90deg);
	}
	40% {
		transform: rotate(270deg);
	}
	60% {
		transform: rotate(360deg);
	}
	80% {
		transform: rotate(180deg);
	}
	*/
	to {
		transform: rotate(1turn);
	}
}

/* fonts */
.serif {
	font-family: "EB Garamond", serif;
}

.sans {
	font-family: "Open Sans", sans-serif;
}

.display {
	font-family: "Lobster", serif;
}

.other {
	font-family: "Poppins", "Open Sans" sans;
}

/* navbar */
.nav {
	transition: opacity 1s, transform .5s;

	border-bottom: solid grey 1px;
	background: floralwhite;
}

.nav--hidden {
	transform: translateY(-80px);

	opacity: 0;
}

.nav_item {
	font-size: 1rem;

	text-decoration: none;
	text-transform: uppercase;

	color: #36454f;
}

.nav_item:hover {
	color: navy;
}

.nav_item::after {
	display: block;

	width: 0;
	height: 2px;

	content: "";
	transition: width 1s ease;

	background: #dadada;
}

.nav_item:hover::after {
	width: 100%;

	transition: width .2s ease;
}

.logo {
	width: 3rem;
	height: 3rem;

	border-radius: 30%;
}

.name {
	font-size: 1.3rem;
}

.link1 {
	color: #494f55;
}

.link1:hover {
	color: navy;
}

/* header */
header {
	background: floralwhite;
}

.header_image {
	/* min-width: 1000px; */

	border-radius: 40% 10%;
}

.header {
	border-right: solid black 2px;
	text-align: right;
}

.header::first-letter {
	font-family: "Poppins", "Open Sans", sans-serif;
	font-size: 1.3em;
	font-style: bold;
}

.keyword {
	font-family: "Poppins", "Open Sans", sans-serif;
}

.problem {
	color: #262335;
}

.loesung, .du {
	color: #282922;
}
