@keyframes loading {
  from {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-45deg);
  }
  60% {
    border-width: 0.2rem;
    padding: 4rem;
  }
  to {
    transform: rotate(1turn);
    padding: 0rem;
    border-width: 0.5rem;
  }
}
body {
  background: #efefef;
  margin: 0;
}
body .loader {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.75s linear, visibility 2s linear;
  background: #f2efec;
  align-items: center;
  justify-content: unsafe center;
}
body .loader--hidden {
  visibility: hidden;
  opacity: 0;
}
body .loader::after {
  width: 7rem;
  height: 7rem;
  content: "";
  animation: loading 1.5s ease infinite;
  border: 0.5rem solid #4aa2d5;
  border-top-color: #f2efec;
  border-radius: 50%;
}
body .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: solid black 1px;
  background-color: white;
  mix-blend-mode: difference;
  transition: all 0.3s;
  box-sizing: border-box;
  box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.7019607843);
}
body nav {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-evenly;
  border-bottom: solid #4aa2d5 1px;
  background-color: #f2efec;
  position: fixed;
  height: 80px;
  transition: visibility 3s, transform 0.5s;
}
body nav .nav-block1 {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  background-color: #f2efec;
}
body nav .nav-block1 .home-link {
  padding-left: 1rem;
  text-decoration: none;
  transition: all 0.3s;
  color: #494f55;
  background-color: #f2efec;
}
body nav .nav-block1 .home-link:hover {
  text-shadow: 2px 5px 2px rgba(128, 128, 128, 0.7019607843);
  color: #494f55;
}
body nav .nav-block1 .logo {
  width: 3rem;
  height: 3rem;
  border-radius: 30%;
}
body nav .nav-block2 {
  font-weight: bolder;
  font-family: "EB Garamond", serif;
  font-size: 1.5rem;
  color: #4aa2d5;
  background-color: #f2efec;
  text-align: center;
}
body nav .nav-block3 {
  padding-right: 1rem;
  background-color: #f2efec;
  font-family: "Poppins", sans-serif;
}
body nav .nav-block3 .list {
  position: relative;
  color: #494f55;
  transition: all 0.2s;
  margin-right: 7px;
  text-decoration: none;
  background-color: #f2efec;
}
body nav .nav-block3 .list:hover {
  color: #494f55;
}
body nav .nav-block3 .list:hover::before {
  transform: scaleX(1);
}
body nav .nav-block3 .list::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #494f55;
  transform: scaleX(0);
  transition: all 0.3s;
}
body .nav--hidden {
  transform: translateY(-80px);
  visibility: hidden;
}
body header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
body header .header {
  flex: 1 1 auto;
  font-size: 3;
  padding-right: 1rem;
  border-right: solid #4aa2d5 2px;
  text-align: right;
  font-family: "Open Sans", sans-serif;
}
@media screen and (min-width: 1440px) {
  body header {
    justify-content: center;
    gap: 10rem;
    padding: 7rem;
  }
  body header .header_image {
    flex: 1 0 40vw;
    min-width: 40rem;
    border-radius: 40% 10%;
  }
  body header .header {
    margin-top: 3rem;
  }
}
@media screen and (min-width: 1130px) and (max-width: 1439px) {
  body header {
    justify-content: space-between;
    gap: 5rem;
    padding: 3rem;
    padding-top: 10rem;
  }
  body header .header_image {
    flex: 1 0 50vw;
    min-width: 50vw;
    border-radius: 30rem 5rem 5rem 30rem;
  }
}
@media screen and (max-width: 1129px) {
  body nav {
    height: 70px !important;
    transition: visibility 2s, transform 0.5s !important;
    background-color: rgba(255, 255, 255, 0.2) !important;
  }
  body nav .nav-block1 {
    padding-left: 5px !important;
    text-align: left !important;
  }
  body nav .nav-block1 .home-link {
    padding: 0 !important;
  }
  body nav .nav-block1 .logo {
    width: 0 !important;
    height: 0 !important;
    visibility: hidden !important;
    z-index: -10 !important;
  }
  body nav .nav-block3 {
    padding-right: 10px !important;
    text-align: right !important;
  }
  body nav .nav-block3 .list {
    display: flex !important;
    flex-direction: column !important;
  }
  body nav .nav-block3 .list:hover {
    color: navy !important;
  }
  body .nav--hidden {
    transform: translateY(-70px) !important;
  }
  body header {
    width: 100vw !important;
  }
  body header .header_image {
    pointer-events: none;
    top: 0;
    position: absolute;
    width: 100vw;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  body header .header {
    align-self: center !important;
    margin: 5rem !important;
    padding: 5rem !important;
    font-size: 1.5rem !important;
    border-bottom: solid #4aa2d5 2px !important;
    border-top: solid #4aa2d5 2px !important;
    text-align: center !important;
    border-right: none !important;
    color: white !important;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black !important;
  }
}

/*# sourceMappingURL=style1.css.map */
